
.icons{
    margin-left: 35%;
}
.copyright{
    margin-left: 25%;
}

.art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   flex-shrink: inherit;
justify-content: space-between;
justify-content: space-evenly;
margin-left: 10%;
}

.header{
    width: 800px;
    max-width: 50%;


}

.pics{

width: 30%;
height: 50%;
margin: 3%;


}
.container{
    width: 800px;
    max-width: 70%;
}