
.icons{
    margin-left: 35%;
}
.copyright{
    margin-left: 25%;
}

.art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
justify-content: space-between;
justify-content: space-evenly;
margin-left: 18%;
}

.header{
    width: 800px;
    max-width: 50%;


}

.pics{

width: 30%;
height: auto;
margin: 3%;


}
.container{
    width: 800px;
    max-width: 70%;
}